{% extends "base.html.twig" %}

{% block title %}Index des auteurs
{% endblock %}

{% block body %}
	<h1>Index des auteurs</h1>


	{% for author in authors %}

		<div>
			<a href="{{path('admin.author.details', {id: author.id})}}">
				<h2>{{author.name}}
					{{author.firstName}}</h2>
			</a>
		</div>

	{% endfor %}

{% endblock %}
