{% extends "base.html.twig" %}

{% block title %}Index des auteurs |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Index des auteurs</h1>

		<div id="authorsList">
			{% for author in authors %}

				<div class="authorCard">
					<a href="{{path('authors.details', {id: author.id})}}">
						<button class="btnInternLink">
							{{author.name}}
							{{author.firstName}}
						</button>
					</a>
				</div>

			{% endfor %}
		</div>
	</section>
{% endblock %}
