{% extends "base.html.twig" %}

{% block title %}Editeur
	{{parent()}}
{% endblock %}

{% block body %}
	<h1>Création d'une fiche éditeur</h1>

	<div>
		{{form_start(form)}}
		{{form_widget(form)}}
		<button type="submit">Créer la fiche</button>
		{{form_end(form)}}

	</div>

{% endblock %}
