{% extends "base.html.twig" %}

{% block title %}Index des éditeurs
{% endblock %}

{% block body %}
	<h1>Index des éditeurs</h1>


	{% for publisher in publishers %}

		<div>
			<a href="{{path('admin.publishers.details', {id: publisher.id})}}">
				<h2>{{publisher.name}}
				</h2>
			</a>
		</div>

	{% endfor %}

{% endblock %}
