{% extends "base.html.twig" %}

{% block title %}Index des éditeurs
{% endblock %}

{% block body %}
	<h1>Index des éditeurs</h1>


	{% for publisher in publishers %}

		<div>

			<h2>{{publisher.name}}
			</h2>

		</div>

	{% endfor %}

{% endblock %}
