{% extends "base.html.twig" %}

{% block title %}Index des éditeurs
{% endblock %}

{% block body %}
	<h1>Index des éditeurs</h1>
	<div id="publishersList">

		{% for publisher in publishers %}

			<div class="publisherCard">
				<a href="{{path('publishers.details', {id: publisher.id})}}">
					<button>{{publisher.name}}</button>
				</a>
			</div>

		{% endfor %}
	</div>
{% endblock %}
