{% extends "base.html.twig" %}

{% block title %}Index des éditeurs |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Index des éditeurs</h1>
		<div id="publishersList">
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{path('admin.publishers.create')}}">
					<button>Créer une fiche éditeur</button>
				</a>
			{% endif %}


			{% for publisher in publishers %}

				<div class="publisherCard">
					<a href="{{path('publishers.details', {id: publisher.id})}}">
						<button>{{publisher.name}}</button>
					</a>
				</div>

			{% endfor %}
		</div>
	</section>
{% endblock %}
