{% extends "base.html.twig" %}

{% block title %}S'inscrire |
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Inscription</h1>
		<div class="glassmorph">
			{{form_start(form, {'attr':{'class':'formAdmin'}})}}
			{{form_widget(form)}}
			<button type="submit">S'inscrire</button>
			{{form_end(form)}}
		</div>
	</section>
{% endblock %}
