{% extends "base.html.twig" %}

{% block title %}
	Email non vérifié |
	{{parent()}}
{% endblock %}

{% block body %}

	<h1>L'email associé à votre compte n'est pas vérifié</h1>

	<div class="glassmorph">
		<p>
			Merci de vérifier dans votre boite de réception et dans vos indésirables/spam que vous avez bien reçu le lien de confirmation.
		</p>
		<br>
		<p>Si malgré tout vous ne trouvez pas l'email ou que ce dernier n'est plus valable, cliquez
			<a href="{{path('app_verify_email')}}" style="color : blue; text-decoration: underline">
				ici
			</a>
			pour en renvoyer un.
		</p>
	</div>

{% endblock %}
