.bookCard{
    display:flex;
    border: 1px solid;
    border-radius: 15px ;
    margin-bottom: 3vh;
    margin-top: 2vh;
    padding: 2vh 3vw 2vh 3vw;
}



.bookCardContent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.bookCardTitle{

}

.bookCardIntel{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    color: black;
}

p{
margin-left: 3vw;
margin-top: 3vh;
}
