.comment{
    
    margin-bottom: 3vh;
    border: solid 1px;
    border-radius: 20px;
    padding: 15px;
    width: 90%;

}

.commentHeader{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    
}

#Commentaries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    
}

.Comment > p{
    text-align: center;
}

.commentForm > p{
    text-align: center;
}

.commentContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

