#footerDiv{
    margin: auto;
}

#footerTitle {
    font-family: $font-title;
    font-size: 2.25em;
    
}
#socialLinks{

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}

#legalLinks{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
