

#socialLinks{

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#legalLinks{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}
