.formAdmin{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
}

.formItem{
    display:flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border-radius: 5px;
    height:fit-content;
    width: fit-content;
    padding: 5px;
    
    > option{
        padding: 1em;
    }
}

