*{
    margin: 0;
    padding: 0;
    z-index: 0;
}

body{
    font-family: $font-primary;
    overflow-y: scroll;
    overflow-x: hidden;
   
}

main{
    margin: auto;
    background-image: url(../../../images/ai-generated-8726156_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15vh;
    padding-bottom: 10vh;
    margin-top: 15vh;
           
}

h1{
    text-align: center;
    font-family: $font-title;
    color: white;
    font-size: 3em;
}

header{
    position: fixed;
    top: 0vh;
    left:50%;
    transform:translateX(-50%);
    width: 100vw;
    height: 15vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../../images/ai-generated-8404320_1280_2.png);
    background-position:center bottom ;
    background-size: cover;
    z-index:2;
}

footer{
    background-image: url(../../../images/ai-generated-8547577_640.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0vh;
    width: 100vw;
    height: 25vh;
    margin: auto ;
    z-index: 2;
    padding-top: 2vh;
    
}

.btnDelete{
    background-color: red;
    color: white;
}

a {
    text-decoration: none;
    color:black ;
}

section {
    
    margin: auto;
    z-index:1;
}

section > h2 {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

button{
    padding:1em;
    border-radius: 1em;
    margin-top: 1em;
    font-family: $font-primary;
}

.actionBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.glassmorph{
    background-color: $colorCardBody ;
    z-index: 2;
    border-radius: 20px;
    width: 80%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    margin: auto;
    
}

.cardTitle{
    font-family: $font-primary;
    color: black;
    font-size: 2em;
}

.flashError{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px;
    
}

.flashSuccess{
    background-color: green;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.flashWarning{
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
}

.divCgu{
    width:90%;
}

@media (min-width: 426px)
{
body{
    
    background-color: black;
    
}

    header{
        width: 70vw;
        height: fit-content;
        margin: auto;

    }

    main{
        
        width: 70vw;
    }

    footer{
        width:70vw;
        margin: auto;
        .glassmorph{
            width: 50%;
        }
        
    }

    section{
        
        width:80%;
        z-index: 1;
    }
}