#userProfile{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#formAdmin{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-top: 5vh;
}