#userList{
    display:flex;
    flex-direction: column;
    
}

#userCard{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin:  5vh auto 5vh;

   
}

#userCardIntel{
    margin-left: 5vw;
}
