<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Le site web pour répertorier et évaluer vos lectures. Retrouvez également toute l'actualité littéraire sur notre blog!">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
		<title>
			{% block title %}Les milles et un livres
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</head>
	<body>
		{% include "header.html.twig" %}
		<main>
			{% block body %}{% endblock %}
		</main>
		{% include "footer.html.twig" %}
	</body>
</html>
