{% extends "base.html.twig" %}

{% block title %}Conditions d'utilisation |
	{{parent()}}
{% endblock %}

{% block body %}
	<h1>Conditions d'utilisation de ce site web</h1>
	<section class="glassmorph">
		<h2>Qui sommes-nous?</h2>

		DEBOEUF Antoine<br>
		antoinedeboeuf@proton.me<br>
		https://lesmilleetunlivres.com<br>

		<h2>Commentaires et avis</h2>

		<p>Les utilisateurs de ce site sont responsables des propos qu'ils tiennent dans leurs commentaires et leurs avis. Les commentaires et avis postés sur ce site sont soumis à notre modération et nous nous réservons le droit de restreindre leur visibilité (c'est-à-dire de ne plus les faire apparaître publiquement sur notre site) si leur contenu est contraire à nos conditions d'utilisation. Cette décision pourra s'accompagner d'un bannissement temporaire du compte auteur du commentaire modéré en cas de récidive. Si trop de récidives sont constatées, nous nous réservons le droit de bannir définitivement le compte auteur. Les commentaires retirés par la modération sont gardés dans notre base de données pour pouvoir être exploités en cas de contestation par leurs auteurs.</p>

		<h2>Médias</h2>

		<p>Les utilisateurs du site peuvent téléverser des images à utiliser pour leur image de profil. Ces images peuvent être soumises à notre modération si leur contenu enfreint nos conditions d'utilisation et peuvent entraîner un bannissement du compte associé.</p>

		<h2>Cookies</h2>

		<p>Si vous déposez un commentaire ou un avis sur notre site, il vous sera proposé d’enregistrer votre nom, adresse e-mail et site dans des cookies. C’est uniquement pour votre confort afin de ne pas avoir à saisir ces informations si vous déposez un autre commentaire/avis plus tard. Ces cookies expirent au bout d’un an. Si vous vous rendez sur la page de connexion, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur. Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé. En modifiant ou en publiant une publication, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle. Il indique simplement l’ID de la publication que vous venez de modifier. Il expire au bout d’un jour.</p>


		<h2>Données personnelles</h2>

		<p>Les informations demandées pour créer votre compte sont stockées dans notre base de données et ne seront pas exploitées autrement que pour améliorer l'expérience utilisateur. Nous nous engageons à ne pas les transmettre en-dehors d'une procédure juridique à votre encontre ou à la nôtre ni à les exploiter à des fins commerciales. Les utilisateurs disposent d'un droit d'accès à leurs données conformément à la loi. Merci de nous contacter si vous souhaitez connaître les données vous concernant qui sont dans notre base de données. Vous êtes en droit de demander la suppression des données liées à votre compte à tout moment.</p>
	</section>
{% endblock %}
