<footer>
	<div class="glassmorph">
		<p id="footerTitle">
			<strong>Suivez-nous :</strong>
		</p>

		<div id="socialLinks">
			<a href="https://www.facebook.com"><img src="/images/facebook_icon.png" alt="Lien vers la page Facebook" width="40vw" height="40vh"></a>
			<a href="https://www.instagram.com"><img src="/images/Instagram_logo_2022.svg.webp" alt="Lien vers la page Instagram" width="40vw" height="40vh"></a>
			<a href="https://www.x.com"><img src="/images/Twitter_logo.jpg" alt="Lien vers la page X/Twitter" width="40vw" height="40vh"></a>
		</div>
		<div id="legalLinks">
			<a href="/templates/mentionslegales.html.twig">
				<button>Mentions légales</button>
			</a>
			<a href="/templates/cgu.html.twig">
				<button>Conditions d'utilisation</button>
			</a>
		</div>
	</div>
</footer>
